*,
* ::before,
* ::after {
  box-sizing: border-box;
}
@import url(https://fonts.bunny.net/css?family=aboreto:400);

body {
  font-size: 22px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -300px;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

header {
  font-family: "Aboreto", display;
}
body {
  background-color: rgb(191, 189, 188);
}
