*,
* ::before,
* ::after {
  box-sizing: border-box;
}
@import url(https://fonts.bunny.net/css?family=aboreto:400);

body {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(191, 189, 188);
}
